.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 50px); /* 3 colunas: duas para os primeiros blocos, uma para os blocos 9 e 10 */
  grid-template-rows: repeat(4, 50px); /* 4 linhas: para os blocos 1 a 8 */
  gap: 5px;
  margin-top: 20px;
}

.grid-item {
  width: 50px;
  height: 50px;
  background-color: #1e90ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  border: 1px solid #fff;
}

.tall-item {
  /* Esses itens ocupam 2 linhas e estão na terceira coluna */
}

label {
  margin: 10px 0;
}

input {
  margin-left: 10px;
  padding: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
